{% extends 'dashboard.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block dash-view %}
  <h1>Cadastro de Cliente</h1>
  <form method="post">
    <label for="name">Nome</label>
    <input name="name" id="name" required>

    <label for="tax_id">CPF / CNPJ</label>
    <input name="tax_id" id="tax_id">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email">

    <label for="phone">Telefone</label>
    <input name="phone" id="phone">

    <label for="address">Endereço</label>
    <input name="address" id="address">

    <input type="submit" value="Cadastrar">
  </form>
{% endblock %}
